<div class="container">
    <div class="row">
        <div class="col-12 " style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form (ngSubmit)="f.form.valid && ngSubmit()" #f="ngForm" [formGroup]="myForm" class="form-change-pass" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter your Current Password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="currentPassword"
                               [(ngModel)]="changePassWord.currentPassword"
                               required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('required', 'currentPassword')">
                            Please enter your Current Password
                        </mat-error>
                    </mat-form-field> <br>

                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter New Password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="newPassword"
                               [(ngModel)]="changePassWord.newPassword"
                               required [errorStateMatcher]="matcher">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('required', 'newPassword')">
                            Please enter your New Password
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style=" width: 350px" appearance="outline">
                        <mat-label>Enter Confirm Password </mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'"
                               formControlName="confirmPassword"
                               [(ngModel)]="changePassWord.confirmPassword"
                               [errorStateMatcher]="matcher" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon color="accent">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="myForm.hasError('notSame')">
                            The Confirm Password does not match the New Password
                        </mat-error>
                    </mat-form-field> <br>
                    <!--                    <ng-template #notErr>-->
                    <!--                        <mat-error *ngIf=" f.submitted">-->
                    <!--                            <mat-card-subtitle style="color: red">-->
                    <!--                                Change Pass Failled! Please check Confirm Password does not match your New Password!-->
                    <!--                            </mat-card-subtitle>-->
                    <!--                        </mat-error>-->
                    <!--                    </ng-template>-->
                    <!--                    <mat-error *ngIf="!myForm.hasError('notSame'); else notErr"></mat-error>-->
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Change Password
                        <mat-icon color="accent" matSuffix>lock_open</mat-icon>
                    </button>
                    <span class="example-spacer"></span>
                    <span class="example-spacer"></span>
                    <br> <br>
                    <ng-template #Error>
                        <mat-error *ngIf="f.submitted&&isChangePassed">
                            <mat-card-subtitle style="color: red">
                                Change Pass Failled! Please check Current Password: "{{changePassWord.currentPassword}}"
                                "does not match your Old Password!
                            </mat-card-subtitle>
                        </mat-error>
                    </ng-template>
                    <mat-error *ngIf="!(f.submitted&&isChangePassed); else Error"></mat-error>
                </form>
            </mat-card>
        </div>
    </div>
</div>
