<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<div class="topnav" id="myTopnav">
    <a  routerLink="/">QUIZ</a>
    <a *ngIf="!isLoggedInt" routerLink="register">Register</a>
    <a *ngIf="!isLoggedInt" routerLink="login">Login</a>
    <a *ngIf="isLoggedInt" routerLink="user-account" >{{name}}</a>
    <a class="image" *ngIf="isLoggedInt" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       mat-button tabindex="0" aria-disabled="false" routerLink="/change-avatar"><span class="mat-button-wrapper">
        <img alt="angular" class="image" [src]=avatar width="40px" height="40px"></span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
