<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0 ">
                <mat-card-title align="center" class="alert alert-primary">ADMIN MANAGE</mat-card-title>
<!--                <mat-error class="alert alert-primary">{{status}}</mat-error>-->
                <div class="row">
                    <div class="column" *ngFor="let user of users">
                        <button  mat-icon-button aria-label="Example icon-button with a heart icon" (click)="openDialog(user.id)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                        <button [routerLink]="['/change-role/',user.id]" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                            <mat-icon>edit</mat-icon>
                        </button>
<!--                        <button mat-button (click)="openDialog()">Open dialog</button>-->
                        <div class="card">
                            <i  style="font-size:1.5vw;color: crimson">{{user.username}}</i>
                            <i style="font-size:1.5vw;color: crimson">{{user.email}}</i>
                            <img class="img" [src]="user.avatar">
                            <div *ngFor="let role of user.roles">
                                <i >{{role.name}}</i>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-paginator [pageSizeOptions]="[3,5,15,30,90]" [length]="totalElements" (page)="nextPage($event)"></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>



