<br><br>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="circular--square">
                        <img class="image2" routerLink="/changeAvatar" [src]=info.avatar height="50px"
                             width="50px"/>
                    </div>

                    <mat-card-title class="information" style="color: #2c8ebb"> YOUR INFOMATION</mat-card-title>
                    <mat-card-subtitle class="username" STYLE="color: fuchsia"><b style="color: #2b542c">Name: </b> {{info.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image routerLink="/changeAvatar" class="image1" [src]="info.avatar" height="300px"
                     width="400px">
                <mat-card>
                    <mat-card-title align="center" style="color: blue" class="alert alert-danger">PROFILE MANAGE</mat-card-title>
                    <mat-card-actions>
                        <button mat-stroked-button color="primary" class="mat-button-toggle-group btn-outline-danger" (click)="logOut()">Log Out
                            <mat-icon color="primary" matSuffix>logout</mat-icon>
                        </button>
                        <span class="example-spacer"></span>
                        <!--                    <button routerLink="/" class="btn btn-danger" (click)="logout()">Logout</button>-->
                        <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary" routerLink="/change-password">Change Password
                            <mat-icon color="accent" matSuffix>lock_open</mat-icon>
                        </button>
                        <button mat-stroked-button style="color: red" class="mat-button-toggle-group btn-outline-success" routerLink="/change-profile">Change Profile
                            <mat-icon color="accent" matSuffix>badge</mat-icon>
                        </button>
                        <button routerLink="/change-avatar" mat-stroked-button style="color: darkcyan" class="mat-button-toggle-group btn-outline-warning">Change Avatar
                            <mat-icon color="accent" matSuffix>upload</mat-icon>
                        </button>
                        <!--                    <button class="btn btn-primary" routerLink="/changeAvatar">Change Avatar</button>-->
                    </mat-card-actions>
                </mat-card>
            </mat-card>
        </div>
    </div>
</div>

