<br><br>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="circular--square">
                        <img class="image2" routerLink="/changeAvatar" [src]=info.avatar height="50px"
                             width="50px"/>
                    </div>

                    <mat-card-title class="information" style="color: #2c8ebb"> YOUR INFOMATION</mat-card-title>
                    <mat-card-subtitle class="username" STYLE="color: fuchsia"><b style="color: #2b542c">Name: </b> {{info.name}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image routerLink="/changeAvatar" class="image1" [src]="info.avatar" height="300px"
                     width="400px">
                <mat-card>
                    <mat-card-title style="color: blue" class="alert alert-danger">Profile Manage</mat-card-title>
                    <mat-card-actions>
                        <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-success" (click)="logOut()">Log Out
                            <mat-icon color="accent" matSuffix>logout</mat-icon>
                        </button>
                        <span class="example-spacer"></span>
                        <!--                    <button routerLink="/" class="btn btn-danger" (click)="logout()">Logout</button>-->
                        <button routerLink="/changepass" type="submit" style="color: rebeccapurple; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-primary"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img
                                src="../../../assets/images/icons/changePassword.png" height="30px"
                                width="30px"/><b>Change Password</b></span>
                        </button>
                        <!--                    <button class="btn btn-primary" routerLink="/changepass">Change Pass</button>-->
                        <button routerLink="/changeProfile" type="submit" style="color: green; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-success"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b><img
                                src="../../../assets/images/icons/change-profile.png" height="30px" width="30px"/>Change Profile</b></span>
                        </button>
                        <!--                    <button class="btn btn-danger" routerLink="/changeProfile">Change Profile</button>-->
                        <button routerLink="/changeAvatar" type="submit" style="color: orangered; text-decoration: none;"
                                aria-label="Angular Audio Player"
                                class="mat-button-toggle-group btn-outline-warning"
                                mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b><img
                                src="../../../assets/images/icons/change-avatar.png" height="24"
                                width="24"/>Change Avatar</b></span>
                        </button>
                        <!--                    <button class="btn btn-primary" routerLink="/changeAvatar">Change Avatar</button>-->
                    </mat-card-actions>
                </mat-card>
                <mat-card class="button">
                    <mat-card-title style="color: firebrick" class="alert alert-success">Manage All Your Create</mat-card-title>
                    <button [routerLink]="['/pageCategoryByUser/',userId]" type="submit" style="color: crimson; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-success"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Music of genre you have created
                        <img src="../../../../assets/images/icons/create-category.png" height="40"
                             width="40"/>
                    </b></span>
                    </button>
                    <button [routerLink]="['/pageSingerByUser/',userId]" type="submit" style="color: mediumvioletred; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-primary"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Singer you have created
                    <img src="../../../assets/images/icons/create-singer.png" height="40" width="40"/></b></span>
                    </button><br><br>
                    <button [routerLink]="['/pageSongByUser/',userId]" type="submit" style="color: darkgreen; text-decoration: none;"
                            aria-label="Angular Audio Player"
                            class="mat-button-toggle-group btn-outline-warning"
                            mat-button tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><b>
                        The Song you have created
                    <img src="../../../assets/images/icons/create-song2.png" height="40" width="40"/></b></span>
                    </button>
                </mat-card>
            </mat-card>
        </div>
    </div>
</div>

